@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;

}

a {
    color: rgb(255, 244, 228);
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.all {

    flex-direction: column;
    justify-items: center;
}

.all .container-1 {
    display: flex;
    flex-direction: column;
    transition: 0.5s all ease-in;
    flex-wrap: wrap;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#020230 ;
}
nav {
    height: 100px;
    width: 97%;
    background-color: #020230;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.4s all ease;
}

.text-nav {
    display: flex;
    justify-content: space-around;
    width: 300px;
    font-size: larger;
    transition: 0.4s all ease;
    flex-wrap: wrap;

}

.text-nav :hover {
    background: linear-gradient(325deg, rgba(116, 173, 164, 1) 0%, rgba(70, 88, 172, 1) 50%, rgba(70, 155, 172, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s all ease;
}

.corpo-1 {

    background-color: #020230;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    justify-items: center;
    align-items: center;
    transition: 0.4s all ease;
    flex-wrap: wrap;
}

.corpo-1 h1 {

    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: xxx-large;
    background: linear-gradient(325deg, rgba(116, 173, 164, 1) 0%, rgba(70, 88, 172, 1) 50%, rgba(70, 155, 172, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex-wrap: wrap;
    transition: 0.4s all ease;
}

.-text {
    font-size: xx-large;
}

.img-home img {
    width: 400px;
    border-radius: 2000px;
}


.imggg {
    width: 60px;
    border-radius: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    flex-direction: row;
    flex-wrap: wrap;
    transition: 0.4s all ease;
}

.corpo-2 {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(325deg, rgba(116, 173, 164, 1) 0%, rgba(70, 88, 172, 1) 50%, rgba(70, 155, 172, 1) 100%);
    transition: all 5s ease;
    flex-wrap: wrap;
}

.card-1 {
    height: 300px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    /* Utilizza un colore con un valore di opacità */
    padding: 20px;
    border-radius: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.corpo-3 {
    background-color: #020230;
    height: 350px;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 0.4s all ease;
}

.corpo-3 img {
    width: 50px;
}

.corpo-3 .image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    transition: 0.4s all ease;
    height: 60px;
}


.corpo-3 .text-nav-giu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    flex-direction: column;
    transition: 0.4s all ease;
}

.corpo-3 .text-nav-giu a:hover {
    background: linear-gradient(325deg, rgba(116, 173, 164, 1) 0%, rgba(70, 88, 172, 1) 50%, rgba(70, 155, 172, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;

}

.corpo-3 .image img:hover {
    width: 55px;
    font-size: 20px;
}

.card-1 {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    flex-direction: column;
    flex-basis: 20%;
    transition: 0.4s all ease;
}

.card-1 h1 {
    font-family: "Montserrat", sans-serif;
    color: beige;
}

.textcard1 {
    display: flex;
    flex-direction: column;
}

.card-1:hover {
    width: 260px;
    height: 310px;
    font-size: 17px;
}

.card {
    display: flex;
    justify-content: space-evenly;
}

.contact {
    padding: 10px;
    background-color: rgb(58, 58, 254);
    border-radius: 10px;
}

.prezzo {
    font-size: x-large;
    color: rgb(201, 201, 201);
}

.corpo-4 {
    background-color: #020230;
    height: 102vh;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    justify-items: center;
    align-items: center;
    transition: 0.5s all ease-in;
    flex-wrap: wrap;
}

.text-4 {
    color: aliceblue;
    font-family: "Montserrat", sans-serif;

}


.bordo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 970px;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
}

.info-card-1 {
    height: 600px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s all ease-in;

}

.title-card {
    height: 7vh;
    width: 40vh;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    border-radius: 20px;
    cursor: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-card h1 {
    background: linear-gradient(325deg, rgba(116, 173, 164, 1) 0%, rgba(70, 88, 172, 1) 50%, rgba(70, 155, 172, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;

}

.info-card-1:hover {
    width: 255px;
    height: 605px;
}

.title-card h1 {
    font-size: 4vh;
}

@media (max-width: 780px) {
    .card-1 {
        flex-basis: 70%;
    }

    .corpo-1 {
        flex-direction: column;
    }

    .title {
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title a{
        color: transparent;
    }

    html {
        max-width: 273;
    }

    .corpo-1 {
        height: 840px;
        width: 100%;
    }

    .corpo-2 {
        height: 1200px;
        width: 100%;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        height: 200px;
    }

    .text-nav {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        width: 100px;
        height: 9ì80px;
    }

    .img-home img {
        width: 320px;
    }

    .corpo-4{
        width: 100%;
    }
    .bordo{
        width: 100%;
    }
    .title-card{
        width: 30vh;
    }
    .card{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .corpo-4{
        height: 180vh;
    }
    .bordo{
        height: 170vh;
    }
    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        background-color:#020230 ;
    }
    nav {
        height: 100px;
        width: 90%;
        background-color: #020230;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        transition: 0.4s all ease;
    }
}
