/* Stile per il popup dei cookie */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



p {
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}
/* Stile per il popup dei cookie */
.cookie-consent-popup {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #ffffff8c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 700px;
    height: 200px;
    z-index: 1001;
    font-family: Arial, sans-serif;
}

.cookie-consent-popup p {
    margin: 0;
    padding-right: 10px;
    font-size: 14px;
}

.cookie-consent-popup button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#acceptCookies {
    background-color: #28a745;
    color: white;
}

#rejectCookies {
    background-color: #dc3545;
    color: white;
}

/* Overlay scuro */
.cookie-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
}

/* Disabilita l'interazione con la pagina */
.content {
    pointer-events: none;
    opacity: 0.5;
}