@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;

}

a {
    color: rgb(255, 244, 228);
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}


.all {

    flex-direction: column;
    justify-items: center;
}

.all .container-1 {
    display: flex;
    flex-direction: column;
    transition: 0.5s all ease-in;
}

.all .container-1 nav {
    height: 100px;
    background-color: #020230;
    display: flex;
    justify-content: space-between;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.text-nav {
    display: flex;
    justify-content: space-between;
    width: 260px;
    font-size: larger;
    transition: 0.5s all ease;
}

.text-nav :hover {
    background: linear-gradient(325deg, rgba(116, 173, 164, 1) 0%, rgba(70, 88, 172, 1) 50%, rgba(70, 155, 172, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s all ease;
}

.corpo-1 {

    background-color: #020230;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    justify-items: center;
    align-items: center;
    transition: 0.5s all ease-in;
}

.corpo-1 h1 {

    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: xxx-large;
    background: linear-gradient(325deg, rgba(116, 173, 164, 1) 0%, rgba(70, 88, 172, 1) 50%, rgba(70, 155, 172, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 5s ease;
}

.-text {
    font-size: xx-large;
}

.img-home img {
    width: 400px;
    border-radius: 2000px;
}


.imggg {
    width: 60px;
    border-radius: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.corpo-2 {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(325deg, rgba(116, 173, 164, 1) 0%, rgba(70, 88, 172, 1) 50%, rgba(70, 155, 172, 1) 100%);
    transition: all 5s ease;
}

.card-1 {
    height: 300px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    /* Utilizza un colore con un valore di opacità */
    padding: 20px;
    border-radius: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.corpo-3 {
    background-color: #020230;
    height: 350px;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.corpo-3 img {
    width: 50px;
}

.corpo-3 .image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 1000px;
    height: 60px;
}


.corpo-3 .text-nav-giu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    flex-direction: column;
}

.corpo-3 .text-nav-giu a:hover{
    background: linear-gradient(325deg, rgba(116, 173, 164, 1) 0%, rgba(70, 88, 172, 1) 50%, rgba(70, 155, 172, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;

}

.corpo-3 .image img:hover{
    width: 55px;
    font-size: 20px;
}
.card-1{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    flex-direction: column;
}
.card-1 h1{
    font-family: "Montserrat", sans-serif;
    color: beige;
}
.textcard1{
    display: flex;
    flex-direction: column;
}
.card-1:hover{
    width: 260px;
    height: 310px;
    font-size: 17px;
}
.card{
    display: flex;
    justify-content: space-evenly;
    flex-direction:;
}
.contact{
    padding: 10px;
    background-color:  rgb(58, 58, 254);
    border-radius: 10px;
}

.prezzo{
    font-size:x-large;
    color: rgb(201, 201, 201);
}
